<div class="footer-dark" >
    <footer class="navside"> 
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-3 item">
              <h3>Services</h3>
              <ul>
                <li><a href="/profile/page1">Profile</a></li>
                <li><a href="/profile/page1">Records</a></li>
                <li>
                  <a href="/profile/page1/searchHospital"
                    >Appointment Booking</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
              <h3>About</h3>
              <ul>
                <li><a href="/">Company</a></li>
                <li><a href="/contact_us">Contact Us</a></li>
                <li><a href="/about">About Us</a></li>
              </ul>
            </div>
            <div class="col-md-6 item text">
              <h3>MEDI-DOC</h3>
              <p>
                A user friendly website that provide a variety of features that
                can help you in maintaining a proper health, with monitoring
                your health, maintaining your records to boking a appointment in
                your desired hospital.
              </p>
            </div>
            <div class="col item social">
              <a href="#"><i class="icon ion-social-facebook"></i></a
              ><a href="#"><i class="icon ion-social-twitter"></i></a
              ><a href="#"><i class="icon ion-social-snapchat"></i></a
              ><a href="#"><i class="icon ion-social-instagram"></i></a>
            </div>
          </div>
          <p class="copyright">Company Name © 2020</p>
        </div>
      </footer>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
</body>

</html>


    