<%- include('header') %>

<div>
  <div class="row" style="padding: 100px 20px;">
    <div class="col-lg-4 col-md-3 col-1"></div>

    <div class="col-lg-4 col-md-6 col-10" style="background-color: rgba(105, 100, 100, 0.5); padding: 40px;">
      <h1 style="padding: 0;">update details</h1>
      <br />
      <!-- Makes POST request to /login route -->
      <form action="/update_stat" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="blood_oxy" placeholder="blood oxygen level" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="blood_press" placeholder="blood pressure level" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="sugar" placeholder="blood sugar level" />
        </div>
        <button type="submit" class="btn btn-dark">submit</button>
      </form>

      <!-- </div>
      </div> -->
    </div>
    <div class="col-lg-4 col-md-3 col-1"></div>
  </div>
</div>

<%- include('footer') %>